{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "importOrder": [
    "^node:(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@shared/(.*)$",
    "^~/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx", "topLevelAwait"]
}
